@use '../mixins/mixins.scss';
@use '../variables/var.scss';
@use './nav.scss';

body {
    // @include mixins.set-background-image('./media/Texturelabs_Wood_149L.jpg', cover);
    @include mixins.set-background-image('/media/backgrounds/Texturelabs_Wood_130L.jpg', cover);
    display: flex;
    font-family: IMFellEnglish, Georgia, 'Times New Roman', Times, serif;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    width: 100%;
        > * {
            flex: 1;
        }
}

article, aside {
    & button {
        background-color: var.$white;
        margin-bottom: 1rem;
        cursor: pointer;
    }
    
    & input, button {
        font-family: IMFellEnglish, Georgia, 'Times New Roman', Times, serif;
        color: var.$black;
        min-height: 2rem;
        padding: 0 0.5rem;
        border: none;
        border-radius: 0.5rem;
        
        &:focus {
            outline: none;
        }
    }
}

article, aside {
    @include mixins.background-drop-shadow();
    width: 100%;
    height: 100%;
    min-height: 500px;
    max-width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

article {
    @include mixins.set-background-image('/media/backgrounds/paper-mask-standing2.png', contain);
}

aside {
    @include mixins.set-background-image('/media/backgrounds/paper-mask-standing.png', contain);
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    body {
        background-repeat: repeat;
    }

    article, aside {
        justify-content: center;
    }
}

.containers {
    @include mixins.flex-center();
    flex-direction: column;
    padding: 5rem 2rem;
    width: 70%;
    height: auto;
    max-height: 75%;
    &#search-aside {
        padding-top: 7rem;
    }
    &#game-aside, &#game-container, &#credits-container {
        align-items: center;
        height: 100%;
        button {
            font-size: 1.5rem;
        }
        &#search-container {
            justify-content: flex-start;
        }
    }
}