@use '../mixins/mixins.scss';
@use '../variables/var.scss';

nav {
    @include mixins.set-background-image('/media/backgrounds/leather-book.png', contain);
    @include mixins.background-drop-shadow();
    display: flex;
    // gap: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // padding: 2rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1rem;
    padding-left: 5rem;
}

header {
    justify-content: flex-end;
    width: 60%;
    padding-top: 3rem;
    h1 {
        @include mixins.relief-text(var.$dark-brown);
    }
}

#buttons-container {
    padding-bottom: 3rem;
}

#dragon-icon {
    border-radius: 50%;
    max-width: 3.5rem;
    max-height: 3.5rem;
    @include mixins.box-shadow-debossed(var.$transparent-black);
}

@media (max-width: 1500px) {
    nav {
        padding: 4rem 0;
    }
}
@media (max-width: 900px) {
    nav {
        @include mixins.set-background-image('/media/backgrounds/leather-book-landscape.png', contain);
        min-height: 200px;
    }
    #dragon-icon {
        display: none;
    }
    header {
        padding: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0;
        h1 {
            display: inline;
            padding-bottom: 0;
            padding-top: 6rem;
        }
    }
}