@use '../mixins/mixins.scss';
@use '../variables/var.scss';

#sound-button {
    position: absolute;
    z-index: 100;
    top: 0.5rem;
    right: 0.5rem;
    background-color: var.$transparent-white;
    border-radius: 50%;
    @include mixins.flex-center();

    #sound-icon {
        padding: 0.5rem;
        max-width: 2.5rem;
        max-height: 2.5rem;    
    }
}
