$white: rgba(254, 250, 224, 1);
$transparent-white: rgba(254, 250, 224, 0.25);

$dark-red: rgba(73, 17, 28, 1);
$transparent-dark-red: rgba(73, 17, 28, 0.5);

$red: rgba(111, 29, 27, 1);
$transparent-red: rgba(111, 29, 27, 0.5);

$black: rgba(10, 9, 8, 1);
$transparent-black: rgba(10, 9, 8, 0.25);

$brown: rgba(153, 88, 42, 1);
$transparent-brown: rgba(153, 88, 42, 0.5);

$dark-brown: rgba(67, 40, 24, 1);
$transparent-dark-brown: rgba(67, 40, 24, 0.5);