@font-face {
    font-family: GOT;
    src: url('/fonts/game-of-thrones/Game-of-Thrones.ttf');
}

@font-face {
    font-family: Aquiline;
    src: url('/fonts/aquiline_two/AquilineTwo.ttf');
}

@font-face {
    font-family: IMFellEnglish;
    src: url('/fonts/IM_Fell_English/IMFellEnglish-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: IMFellEnglish;
    src: url('/fonts/IM_Fell_English/IMFellEnglish-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}