@use './fonts.scss';
@use '../variables/var.scss';

h1 {
    font-size: 2rem;
    letter-spacing: 0.7rem;
    line-height: 3rem;
    font-family: GOT, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-family: Aquiline, 'Brush Script MT', 'Lucida Handwriting', cursive;
    font-size: 1.5rem;
}

h1, h2 {
    color: var.$black;
    padding-bottom: 1rem;
}

#title {
    font-size: 2.5rem;
    margin: -2rem 0 -1rem 0;
}

#house-title {
    font-size: 1.8rem;
    margin: -2rem 0 -1rem 0;
}

p, input, button, ul {
    font-family: IMFellEnglish, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var.$black;
}

ul {
    font-size: 1rem;
}

// .quote {
//     font-style: italic;
// }

// .quote-name {
//     font-family: Aquiline;
// }

