@use './fonts.scss';
@use '../variables/var.scss';

html {
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.7rem;
    line-height: 3rem;
    font-family: GOT, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    cursor: pointer;
}

h2 {
    font-family: Aquiline, 'Brush Script MT', 'Lucida Handwriting', cursive;
    font-size: 1.5rem;
}

.containers {
    h2 {
        font-family: IMFellEnglish, Georgia, 'Times New Roman', Times, serif;
    }
}

h1, h2 {
    color: var.$black;
    padding-bottom: 1rem;
    text-align: center;
}

h3, h4 {
    padding-top: 1rem;
    font-size: 1.5rem;
}

#title {
    font-size: 2.5rem;
    margin: -2rem 0 -1rem 0;
}

#house-title {
    text-align: center;
    font-size: 1.8rem;
    margin: -2rem 0 -1rem 0;
    padding: 2rem;
}

p {
    padding-top: 0.5rem;
}

p, input, button, ul {
    font-family: IMFellEnglish, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var.$black;
}

ul {
    font-size: 1rem;
}

span {
    font-style: italic;
    &.quote {
        font-size: 2rem;
    }
}

.intro {
    text-align: center;
    padding-bottom: 1rem;
}

a {
    color: var.$dark-brown;
    &:active, &:visited:active {
        color: var.$red;
    }
    &:visited {
        color: var.$dark-red;
    }
}

#quote-span {
    cursor: pointer;
}

@media (max-width: 599px)
{
    html {
        font-size: 10px;
    }
}

    @media (min-width: 600px) {
        html {
            font-size: 12px;
        }
    }

    html {
        @media (min-width: 900px) {
            font-size: 14px;
        }
    }
    html {
        @media (min-width: 1200px) {
            font-size: 16px;
        }
    }
