@use './fonts.scss';
@use '../variables/var.scss';

h1 {
    font-size: 2rem;
    letter-spacing: 0.7rem;
    line-height: 3rem;
    font-family: GOT, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: var.$black;
}

h2 {
    font-family: Aquiline, 'Brush Script MT', 'Lucida Handwriting', cursive;
    font-size: 1.5rem;
    color: var.$black;
}

p, input {
    font-family: IMFellEnglish, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var.$black;
}

