@use './styles/mixins/mixins.scss';
@use './styles/reset/reset.scss';
@use './styles/typography/font-styling.scss';
@use './styles/variables/var.scss';
@use './styles/layout/layout.scss';
@use './styles/buttons/buttons.scss';
@use './styles/layout/nav.scss';

article, aside {
    @include mixins.background-drop-shadow();
    width: 100%;
    height: 100%;
    // @include mixins.flex-center();
    // flex-direction: column;
    & button {
        background-color: var.$white;
        cursor: pointer;
    }
    
    & input, button {
        font-family: IMFellEnglish, Georgia, 'Times New Roman', Times, serif;
        color: var.$black;
        height: 2rem;
        padding: 0 0.5rem;
        border: none;
        border-radius: 0.5rem;
        &:focus {
            outline: none;
        }
    }
}

#game-container, #game-aside, #search-container, #search-aside {
    @include mixins.flex-center();
    flex-direction: column;
    padding: 5rem 2rem;
    width: 70%;
    height: auto;
    max-height: 80%;
}

#search-input {
    margin-bottom: 1rem;
}

#search-container, #game-container {
    h2 {
        font-family: IMFellEnglish, Georgia, 'Times New Roman', Times, serif;
    }
}

#character-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem;
    border-radius: 5px;

    & li {
        width: calc(50% - 1rem);
        margin: 0.25rem;
        box-sizing: border-box;
        cursor: pointer;
    }
    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: var.$white;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: var.$transparent-black;
    }
}

#character-list:has(li:nth-child(1)) li {
    width: 100%;
}

input {
    background-color: var.$transparent-white;
}

div.hourglass {
    height: 6rem;
	width: 6rem;
    padding: 2rem;
	background-image: url("./media/assets/hourglass3.gif");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  #sound-button {
    position: absolute;
    z-index: 100;
    top: 0.5rem;
    right: 0.5rem;
    background-color: var.$transparent-white;
    border-radius: 50%;
    @include mixins.flex-center();

    #sound-icon {
        padding: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;    
    }
}

.house-sigil {
    max-width: 7rem;
    display: block;
    margin: 1rem auto;
}
