@use '../variables/var.scss';

@mixin flex-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin set-background-image ($url, $size){
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size;
}

@mixin box-shadow-debossed($color){
    box-shadow: 
    -2px -2px 3px var.$black,
    2px 2px 3px var.$white,
    0 0 8px rgba(10, 9, 8, 0.4);
    background-color: $color;
}

@mixin box-shadow-embossed($color) {
    box-shadow: 
        2px 2px 3px var.$black,
        -2px -2px 3px var.$white,
        0 0 8px rgba(10, 9, 8, 0.4);
    background-color: $color;
}

@mixin relief-text($color){
    color: $color;
    text-shadow: 
        -2px -2px 3px var.$black,
        2px 2px 3px var.$white,
        0 0 8px rgba(10, 9, 8, 0.4);
}

@mixin background-drop-shadow() {
    filter: drop-shadow(-2px 2px 8px var.$black);
}